# IGNORE ALL
# This is a precaution. If you want to add something, use `!SomethingName` after this
# 1. Ignore everything
*

!quartz/
!quartz/**

# CONTENT
!KIT/
!KIT/**

!index.md
!On The Governance Of AI.md
!Work For Peace, Not Money.md
