# IGNORE ALL
# This is a precaution. If you want to add something, use `!SomethingName` after this
# 1. Ignore everything
*

# ASSETS

# ASSETS

!/Assets/
!Assets/Pasted image 20230617202817.png
!Assets/Screenshot_20240615_113622_YouTube ReX (drifty).jpg
!Assets/Pasted image 20230619214509.png

# CONTENT that will be published
!KIT/
!KIT/**

## BLOGS
!index.md
!On The Governance Of AI.md
!Work For Peace, Not Money.md

##
!Lifestyle.md
!Minimalism.md
!Invest In Experiences.md
!The desire for knowledge shapes a man.md

##
!Productivity.md
!Time Saving.md
!Time Boxing.md
!Flow.md
!Time Management.md
!Ruining Development Flow.md
!Context Switching.md
!Pomodoro Technique.md
!Productivity VS Motivation.md
