# IGNORE ALL
# This is a precaution. If you want to add something, use `!SomethingName` after this
# 1. Ignore everything
*

# Docker Section
!.gitignore
!.dockerignore
!Dockerfile

# Automation
!.github/
!.github/**

# ASSETS

!/Assets/
!Assets/Pasted image 20230617202817.png
!Assets/Screenshot_20240615_113622_YouTube ReX (drifty).jpg
!Assets/Pasted image 20230619214509.png
