# IGNORE ALL
# This is a precaution. If you want to add something, use `!SomethingName` after this
# 1. Ignore everything
*

# Docker Section
!.gitignore
!.dockerignore
!Dockerfile

# Automation
!.github/
!.github/**

!quartz/
!quartz/**

# CONTENT that will be published
!KIT/
!KIT/**

!index.md
