name: Release New Version

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag (e.g., v1.0), DON'T ADD PATCH"
        required: true
        type: string

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Fetch all history so we can push back to the branch
          fetch-depth: 0
          token: "${{ secrets.PAT }}"

      - name: Create and Push Tag
        run: |
          # Configure Git
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Create the tag locally
          git tag ${{ github.event.inputs.tag_name }}

          # Push the tag to the 'main' branch origin
          git push origin ${{ github.event.inputs.tag_name }}
